<!-- Section: about -->
<section id="about" class="home-section color-dark bg-white">
  <div class="container marginbot-50">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
          <div class="section-heading text-center">
            <h2 class="h-bold">About</h2>
            <div class="divider-header"></div>
            <p>Lorem ipsum dolor sit amet, agam perfecto sensibus usu at duo ut iriure.</p>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="text-center">
    <div class="container">


      <div class="row">
        <div class="col-xs-6 col-sm-3 col-md-3">
          <div class="team-wrapper-big wow bounceInUp" data-wow-delay="0.2s">
            <div class="team-wrapper-overlay">
              <h5>Keyla Cruse</h5>
              <p>Graeco voluptua sed ea, malorum quaeque cotidieque per eu, quo id possit dissentias.</p>
              <div class="social-icons">
                <ul class="team-social">
                  <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li class="social-google"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                </ul>
              </div>
            </div>
            <img src="assets/img/team/1.jpg" alt="" />
          </div>
        </div>

        <div class="col-xs-6 col-sm-3 col-md-3">
          <div class="team-wrapper-big wow bounceInUp" data-wow-delay="0.5s">
            <div class="team-wrapper-overlay">
              <h5>Tanya Doe</h5>
              <p>Graeco voluptua sed ea, malorum quaeque cotidieque per eu, quo id possit dissentias.</p>
              <div class="social-icons">
                <ul class="team-social">
                  <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li class="social-google"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                </ul>
              </div>
            </div>
            <img src="assets/img/team/2.jpg" alt="" />
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <div class="team-wrapper-big wow bounceInUp" data-wow-delay="0.8s">
            <div class="team-wrapper-overlay">
              <h5>Heck Steven</h5>
              <p>Graeco voluptua sed ea, malorum quaeque cotidieque per eu, quo id possit dissentias.</p>
              <div class="social-icons">
                <ul class="team-social">
                  <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li class="social-google"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                </ul>
              </div>
            </div>
            <img src="assets/img/team/3.jpg" alt="" />
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <div class="team-wrapper-big wow bounceInUp" data-wow-delay="1s">
            <div class="team-wrapper-overlay">
              <h5>Adrian Dawn</h5>
              <p>Graeco voluptua sed ea, malorum quaeque cotidieque per eu, quo id possit dissentias.</p>
              <div class="social-icons">
                <ul class="team-social">
                  <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li class="social-google"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                </ul>
              </div>
            </div>
            <img src="assets/img/team/4.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Section: about -->
