<!-- Section: parallax 3 -->
<section id="parallax3" class="home-section parallax text-light text-center" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="testimonialslide clearfix flexslider">
          <ul class="slides">
            <li>
              <blockquote>
                Usu ei porro deleniti similique, per no consetetur necessitatibus. Ut sed augue docendi alienum, ex
                oblique scaevola inciderint pri, unum movet cu cum. Et cum impedit epicuri
              </blockquote>
              <h4>Daniel Dan <span>&#8213; MA System</span></h4>
            </li>
            <li>
              <blockquote>
                Usu ei porro deleniti similique, per no consetetur necessitatibus. Ut sed augue docendi alienum, ex
                oblique scaevola inciderint pri, unum movet cu cum. Et cum impedit epicuri
              </blockquote>
              <h4>Mark Wellbeck <span>&#8213; AC Software </span></h4>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
