<!-- Section: parallax 2 -->
<section id="parallax2" class="home-section parallax text-light" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row appear stats">
      <div class="col-md-3">
        <div class="align-center color-white txt-shadow">
          <div class="icon">
            <i class="pe-7s-stopwatch pe-5x"></i>
          </div>
          <strong id="counter-coffee" class="number">1142</strong><br />
          <span class="text">Minutes</span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="align-center color-white txt-shadow">
          <div class="icon">
            <i class="pe-7s-music pe-5x"></i>
          </div>
          <strong id="counter-music" class="number">229</strong><br />
          <span class="text">Tracks</span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="align-center color-white txt-shadow">
          <div class="icon">
            <i class="pe-7s-coffee pe-5x"></i>
          </div>
          <strong id="counter-clock" class="number">451</strong><br />
          <span class="text">Cokes</span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="align-center color-white txt-shadow">
          <div class="icon">
            <i class="pe-7s-cup pe-5x"></i>
          </div>
          <strong id="counter-heart" class="number">112</strong><br />
          <span class="text">Awwards</span>
        </div>
      </div>
    </div>
  </div>
</section>
