<!-- Section: works -->
<section id="works" class="home-section color-dark text-center bg-white">
  <div class="container marginbot-50">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
          <div class="section-heading text-center">
            <h2 class="h-bold">Portfolio</h2>
            <div class="divider-header"></div>
            <p>Lorem ipsum dolor sit amet, agam perfecto sensibus usu at duo ut iriure.</p>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="wow bounceInUp" data-wow-delay="0.4s">
          <div id="owl-works" class="owl-carousel">
            <div class="item"><a href="assets/img/works/1.jpg" title="This is an image title" data-lightbox-gallery="gallery1"
                data-lightbox-hidpi="assets/img/works/1@2x.jpg"><img src="assets/img/works/1.jpg" class="img-responsive" alt="img"></a></div>
            <div class="item"><a href="assets/img/works/2.jpg" title="This is an image title" data-lightbox-gallery="gallery1"
                data-lightbox-hidpi="assets/img/works/2@2x.jpg"><img src="assets/img/works/2.jpg" class="img-responsive " alt="img"></a></div>
            <div class="item"><a href="assets/img/works/3.jpg" title="This is an image title" data-lightbox-gallery="gallery1"
                data-lightbox-hidpi="assets/img/works/3@2x.jpg"><img src="assets/img/works/3.jpg" class="img-responsive " alt="img"></a></div>
            <div class="item"><a href="assets/img/works/4.jpg" title="This is an image title" data-lightbox-gallery="gallery1"
                data-lightbox-hidpi="assets/img/works/4@2x.jpg"><img src="assets/img/works/4.jpg" class="img-responsive " alt="img"></a></div>
            <div class="item"><a href="assets/img/works/5.jpg" title="This is an image title" data-lightbox-gallery="gallery1"
                data-lightbox-hidpi="assets/img/works/5@2x.jpg"><img src="assets/img/works/5.jpg" class="img-responsive " alt="img"></a></div>
            <div class="item"><a href="assets/img/works/6.jpg" title="This is an image title" data-lightbox-gallery="gallery1"
                data-lightbox-hidpi="assets/img/works/6@2x.jpg"><img src="assets/img/works/6.jpg" class="img-responsive " alt="img"></a></div>
            <div class="item"><a href="assets/img/works/7.jpg" title="This is an image title" data-lightbox-gallery="gallery1"
                data-lightbox-hidpi="assets/img/works/7@2x.jpg"><img src="assets/img/works/7.jpg" class="img-responsive " alt="img"></a></div>
            <div class="item"><a href="assets/img/works/8.jpg" title="This is an image title" data-lightbox-gallery="gallery1"
                data-lightbox-hidpi="assets/img/works/8@2x.jpg"><img src="assets/img/works/8.jpg" class="img-responsive " alt="img"></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<!-- /Section: works -->
